* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/*backbutton*/
.backbutton {
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 3px;
    position: absolute;
    left: 10px;
    bottom: 100px;
}
.backbutton:link, .backbutton:visited {
    background-color: green;
    border: 2px solid black;
    color: black;
}
.backbutton:hover, .backbutton:active {
    background-color: blue;
    border: 2px solid black;
    color: white;
}

/*navigator*/
nav {
    text-align: left;
    font-size: 1.2em;
}

/*main site list*/
nav>ol {
    font-size: 0.8em;
    margin-bottom: 3px;
}

/*all link link*/
a:link, a:visited {
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
a:hover, a:active {
    color: blue;
    font-weight: bold;
}